.listElement {
	margin: 12px 0 12px 20px;
}

.wrapper {
	display: flex;
	align-items: center;
	padding: 15px 5px;
}

.wrapper img {
	border-radius: 100%;
	width: 33%;
}

.content {
	flex: 1 1;
	margin-left: 15px;
}

.info > * {
	margin-top: 4px;
	display: block;
}

.header {
	display: flex;
	justify-content: space-between;
}

.header strong {
	text-decoration: underline;
	font-size: var(--font-size-header);
}

.icons i {
	font-size: 1.5em;
	color: var(--medium);
}

.alt {
	color: var(--green) !important;
	font-weight: normal !important;
}

/* Responsive code */
@media only screen and (max-width: 700px) {
	.listElement {
		margin: 8px 0 8px 10px;
	}
	.wrapper {
		padding: 10px 5px;
	}
}

@media only screen and (max-width: 530px) {
	.wrapper {
		flex-direction: column;
		padding: 10px 3px;
	}

	.wrapper img {
		width: 175px;
		margin-bottom: 10px;
	}
	.content {
		margin: 0;
	}
	.header {
		flex-direction: column-reverse;
		align-items: center;
	}
	.headerInner {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 2px;
	}

	.headerInner * {
		margin-top: 2px 0;
	}

	.content em {
		display: block;
		text-align: center;
	}
	.info > * {
		margin-top: 3px;
	}
	.icons i {
		font-size: 1.7em;
	}
}
